extends layout

block content
    h1= title
    p Welcome to #{title}

    div#devicemotion
    div#wxMessage


    //script(src="/public/libs/jssdk.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/public/javascripts/main.js")
    script(src="/public/libs/tick.js")
    script(src="/public/javascripts/index.js")